**/wandb
**/*.h5
**/*.pkl
**/*.pt
*.npz
.ipynb_checkpoints
__pycache__
events.*
experiment_runs
datasets/data
datasets/7datasets
.idea
datasets
python_notebooks
dataset
data
_outputs
**/*.log
histograms
previous_modelmodel.pth
